@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
  margin: 0;
  color: #eee;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: #112;
}

.blurred {
  filter: blur(20px);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-top {
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
  padding: 1em 0;
}

.weather-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.weather-icon.large {
  width: 200px;
  height: 200px;
}

.header-current-temp {
  font-size: 7rem;
  margin-left: 0.5em;
}

.header-bottom {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(3, auto);
}

.info-group {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}

.fs {
  font-size: 0.9rem;
  font-weight: normal;
  text-align: center;
}

.label {
  color: orange;
  font-size: inherit;
  font-weight: bold;
}

.section {
  padding: 2em 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, 120px);
  gap: 0.5em;
  justify-content: center;
}

.section-card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.25em;
  padding: 0.5em 0;
}
